*{
    box-sizing: border-box;
}

body{
   background-color: #ff8ba2
}
header, footer, main, aside, h1{
    background-color: #fff;
    border: 2px solid #000000;
    padding: 10px;
    margin: 10px;
}
section{
    width: 70%
}

aside{
    position: fixed;
    right: 8px;
    width: 25%;
    float: right;
}